* {
  margin:0
}

body {
  background-color:#f5f6fa;
}

.app {
  display: flex;
  justify-content:space-evenly ;
  padding: 20px;
}

.app__left {
  flex:0.8
}

.app__header {
  margin-bottom: 20px;
}
.app__dropdown {
  width:100%;
  max-width: 180px;
  background: white;
}
.app__stats {
  display:flex;
  justify-content: space-between;
}

@media (max-width:900px) {
  .app {
    flex-direction: column;
  }
  
}